html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.header {

}

.main {
  display: flex;
}

.filters {
  width: 100px;
  background-color: #000;
}

.map-container {
  width: 100%;
}

.map-sidebar {
  width: 25%;
  padding: 25px 15px;
  color: #fff;
  background-color: #385074;
  &__title {
    font-size: 26px;
    font-weight: 600;
  }
  &__part {
    &_preview {
      display: none;
    }
  }
}