html {
  font-family: 'Open Sans', sans-serif;
}

.header {

}

.main {
  display: flex;
}

.filters {
  width: 100px;
  background-color: #000;
}

.map-container {
  width: 100%;
}

.map-sidebar {
  width: 25%;
  background-color: #385074;
}